<div class="row">

  <div class="col-xs-12 col-md-8 col-md-offset-2">


    <h1>New Email</h1>

    <p>
      Here you can send a newsletter or announcement to all registered residents.
    </p>

    <br />

    <%= render 'form' %>

    <%= link_to 'Back', user_emails_path %>

  </div>

</div>
